<!DOCTYPE html>
<html ng-app="store">
	<head>
		<title>Storeapp</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		</head>
		<body>
			 <div id="section3" class="container">
      <h1><strong>Mis datos</strong></h1>

      <div class="form-group">
				 			<label>Nombre:</label>
			 				<input placeholder="Luis Corral" class="form-control" type="email" ng-model="reviewCtrl.review.author" required />
				 		</div>	
	  <div class="form-group">
				 			<label>Email</label>
			 				<input placeholder="Whoiam@hotmail.com" class="form-control" type="email" ng-model="reviewCtrl.review.author" required />
				 		</div>	

     <div class="row">
    <div class="col-sm-6">
<label>passwoord</label>
			 				<input placeholder="*******" class="form-control" type="email" ng-model="reviewCtrl.review.author" required />

    
    </div> 	
    <div class="row">
    <div class="col-sm-6">
    <label>Password</label>
    	<input placeholder="123456" class="form-control" type="email" ng-model="reviewCtrl.review.author" required />

		</body>
		</html>
		